$lt-tan: #f0ede6;
$orange: #f79522;
$dark: #3a3a3a;
$brown: #5a4c43;
.counter-panel {
	background: url(../img/bg-jobs.jpg) no-repeat center center / cover;
	text-align: center;
    padding: 90px 1em;
    position: relative;
    &::after {
        content: "";
        background: rgba(58,56,53,0.46);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    h2 {
        color: $lt-tan;
        font-size: 40px;
        position: relative;
        z-index: 3;
        text-shadow: 0 0 3px rgba(0,0,0,.25);
    }
    span {
        display: block;
        font-size: 96px;
        color: $orange;
    }
    .uabb-row-separator {
        position: absolute;
        z-index: 2;
        svg {
            width: 200%;
            &.fill-tan {
                fill: $lt-tan;
            }
        }
    }
}
.job-results-search {
	background: $lt-tan;
	text-align: center;
    padding: 40px 1em;
    position: relative;
    h1 {
        font-size: 36px !important;
    }
    .job-results-search-hero {
        position: relative;
        z-index: 2;
    }
    .job-results-search__item {
        width: 100%;
        max-width: 640px;
        margin: 1rem auto;
        position: relative;
        background: #fafafa;
        border-radius: 30px;
        border: 1px solid $lt-tan;
        display: flex;
        .ui-autocomplete-input {
            width: calc(100% - 140px);
            border-radius: 30px;
            border: unset !important;
        }
        button {
            width: 140px;
            text-transform: uppercase;
            font-size: 18px !important;
            border-radius: 30px !important;
        }
        @media only screen and (min-width: 640px) {
            .ui-autocomplete-input {
                width: calc(100% - 200px);
            }
            button {
                width: 200px;
            }
        }
    }
}
.job-results-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    @media only screen and (min-width: 981px) {
        display: flex;
    }
}
.job-results__jobs {
    padding: 30px;
    .job-meta {
        font-size: 16px;
        font-weight: 700;
    }
    h2 {
        color: $brown;
        font-size: 18px !important;
        margin-bottom: 1rem;
        a {
            color: $dark;
        }
    }
    &--top {
        font-weight: bold;
        padding-bottom: 2rem;
        border-bottom: 4px solid $dark;
        margin-bottom: 2rem;
    }
    .custom-pagination {
        .page-links {
            font-family: 'Nexa Rust Sans Black';
            .page-numbers {
                display: inline-block;
                padding: 0 .25em;
                text-align: center;
                &.current {
                    background: $dark;
                    color: $lt-tan;
                    padding: 0 .5em;
                    border-radius: 1rem;
                    min-width: 1.75em;
                }
            }
        }
    }
    @media only screen and (min-width: 981px) {
        padding: 30px 30px 120px 0;
        flex: 1 1 67%;
    }
}
.job-results__filter {
    padding: 30px;
    margin-right: 30px;
    h2 {
        color: $orange;
        font-size: 24px !important;
        margin-bottom: 1rem;
    }
    @media only screen and (min-width: 981px) {
        flex: 1 1 33%;
        margin-right: 60px;
    }
}
.job-filter {
    border-top: 1px solid $dark;
    font-weight: bold;
    padding: 8px 0;
    font-size: 16px;
    text-transform: uppercase;
    &-type{
        cursor: pointer;
        a {
            float: right;
            color: $dark;
        }
    }
    ul {
        padding: .5rem 0;
        margin: 0;
        list-style: none;
        text-transform: none;
        li {
            display: block;
            a {
                font-size: .875rem;
            }
        }
    }
    &.job-companies {
        display: none;
    }

    @media only screen and (min-width: 981px) {
        &.job-companies {
            display: block;
        }
    }
}
.jobs_filter {
    &.selected {
        font-family: "Nexa Rust Sans Black", serif;
        a {
            &::after {
                content: "";
                display: inline-block;
                width: 24px;
                height: 18px;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='$orange' class='bi bi-check' viewBox='0 0 18 18'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
                background-repeat: no-repeat;
                background-position: center center;
                vertical-align: middle;
            }
        }
    }
}
.job-results__jobs--listing {
    padding-bottom: 2rem;
    border-bottom: 1px solid $dark;
    margin-bottom: 2rem;
    p:last-child {
        margin-bottom: 0;
        font-weight: bold;
    }
}

/*=============================================
=            single jobs            =
=============================================*/

.content-area--single-job {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px 20px;
    font-size: 17px;
    .left-area {
        padding: 30px;
    }
    .sidebar {
        border-top: 2px solid #b4b4b4;
        padding: 30px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 32px !important;
        color: $orange;
    }
    .additional_detail_category {
        a {
            word-break: break-word;
        }
    }
    .apply-now.button {
        display: inline-block;
        padding: 13px 36px !important;
        font-size: 18px !important;
        border-radius: 30px !important;
        margin: 30px 0;
        text-transform: uppercase;
    }
    .job-meta {
        font-weight: 700;
    }
    @media only screen and (min-width: 981px) {
        display: flex;
        align-items: flex-start;
        padding: 60px 20px;
        .left-area {
            flex: 1 0 67%;
            padding: 0 60px 0 0;
        }
        .sidebar {
            flex: 1 1 33%;
            border-top: none;
            border-left: 2px solid #b4b4b4;
            padding-top: 0;
            padding: 0 0 0 30px;
        }
    }
}

.featured-jobs-feed {
    background: linear-gradient(to bottom, $lt-tan, #fff);
    padding: 3rem 2rem;
    > .content {
        max-width: 1240px;
        margin: 0 auto;
    }
    &__header {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            font-size: 32px !important;
        }
        .button {
            display: inline-block;
            padding: 13px 36px !important;
            font-size: 18px !important;
            border-radius: 30px !important;
            margin: 30px 0;
            text-transform: uppercase;
        }
    }
    &__listings {
        // display: grid;
        .featured-job {
            padding: 20px;
        }
        h3 {
            font-size: 1rem;
        }
        .featured-job__meta {
            font-size: .875rem;
            margin-bottom: .5em;
        }
        .featured-job__link {
            font-size: .875rem;
            font-weight: bold;
        }
    }
    .featured-job__link {
        font-weight: bold;
    }
    @media only screen and (min-width: 521px) {
        &__listings {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @media only screen and (min-width: 981px) {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .button {
                margin: 0;
            }
        }
        &__listings {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin: 0 -20px;
        }
    }
}

#job_filter_clear {
    font-weight: bold;
}
